body {
    font-family: 'Prosto One', cursive;
    background: rgb(219, 231, 231);
}

.wrapper {
    width: auto;
    margin: auto;
}

header {
    background: linear-gradient(rgba(0.1, 0, 0, 0.5), rgba(0.1, 0, 0, 0.5)), url('kernkompetenzen-medizintechnik.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.nav-area {
    float: right;
    list-style: none;
    margin-top: 20px;
    padding-right: 10px;
    text-align: right;

}

.nav-area li {
    display: inline-block;
}

.nav-area li a {
    color: ghostwhite;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 16px;
}

.nav-area li a:hover {
    background: #fff;
    color: black;
}

.logo img {
    float: left;
    padding: left 10%;
    padding-top: 1%;
    width: 110px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 20px;
    /* filter: invert(); um das loge-intensität zu ändern*/
}

.welcome-text {
    position: absolute;
    padding: 100px 100px 100px 100px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    color: cornsilk;

}
.backcolor{
    background: darkgray;
}
.Pa-back {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('thzelle3.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;

}
.hovering_card{
    transition: all ease 0.5s;
}
.hovering_card:hover{
    border: 5px solid rgb(110, 31, 146);
   top: -20px;

}
.backfooter {
    height: 200px;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    box-sizing: border-box;
    padding: 60px 0px;
  }

  .footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #291581;
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: rgb(118, 168, 126);
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }